@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

body {
	font-family: Arial;
	font-size: 16px;
	line-height: 1.5;
	background-color: #16ab59;
	color: #ffffff;
}

canvas {
	vertical-align: bottom;
}